<nav class="navbar navbar-dark bg-dark shadow-sm" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Moving Letters</a>
  </div>
</nav>


<main role="main">

  <section>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col col-lg-6 content-position-center ml1-container">
          <ng-moving-letters [word]="slogan1" [type]="'ML1'">
          </ng-moving-letters>
        </div>
        <div class="col col-lg-6 content-position-center ml2-container">

        </div>
      </div>

    </div>
  </section>
</main>
